.foot{
    text-align: center;
    font-size: 0.9em;
    color: hsl(0, 0%, 97%);
    background-color: black;
    margin-top: 25px;
}
.pro{
    color: hsl(0, 0%, 100%);

}
.position{
    text-align: center;
    margin-top: 20px;
}
.background{
    background-color: lab(19.61% -1.35 0.97);
    color:rgb(0, 208, 245);
}
.textcolour{
    color: hwb(0 100% 0%);

}
h1 {
    color:palevioletred;
}
body{
font: 16px Arial, sans-serif;
margin: 0;
}
li{
    background-color: rgb(22, 112, 128);
    color: hsl(0, 0%, 97%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.picture{
display: block;
margin: 0 auto;
}
a {
text-decoration: none;
color:darkcyan;
}