.foot{
    text-align: center;
    font-size: 0.9em;
    color: hsl(0, 0%, 97%);
    background-color: black;
    margin-top: 25px;
}
.pro{
    color: hsl(0, 0%, 0%);

}
.position{
    text-align: center;
    margin-bottom: 0px;
}
.background{
    background-color: lab(19.61% -1.35 0.97);
    color:rgb(0, 208, 245);
}
.textcolour{
    color: hwb(0 100% 0%);

}
h1 {
    color:palevioletred;
}
body{
font: 16px Arial, sans-serif;
margin: 0;
padding: 0;
}
li{ 
    color: hsl(0, 0%, 97%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.picture {
margin-bottom: 20px;
}
a {
text-decoration: none;
color:darkcyan;
}
footer p{
text-decoration: none;
color:rgb(0, 0, 0);
}
footer {
background-color: rgb(247, 199, 244);
}
footer p a{
color:rgb(1, 2, 70);
}
footer{
padding-bottom: 30px;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
text-align: center;
width: 100%;
}
h1 {
width: 400px;
margin: 0 auto;
margin-bottom: 20px;
}
img {   
border: 3px solid black;
margin-left: 20px;

}
video {
margin-left: 30px;
margin-bottom: 100px;
padding: 0px;
}
.para{
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
    background-color: hsl(0, 0%, 0%);
    text-align: center;
}
.task{
    display: flex;
    background-color: hsl(59, 76%, 80%);
    justify-content:space-around;
    padding: 5px;
}
video{
    margin: 1px;
}
.task1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.title1{
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
}
.item{
 align-items: center;
 border: 2px solid black;
 padding: 20px;
 margin: 10px;  
}
*{
    box-sizing: border-box;
}
.menu{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    padding: 10px;
}