.foot{
    text-align: center;
    font-size: 0.9em;
    color: hsl(0, 0%, 97%);
    background-color: black;
    margin-top: 25px;
}
.pro{
    color: hsl(0, 0%, 100%);

}
.position{
    text-align: center;
    margin-top: 20px;
}
.background{
    background-color: lab(19.61% -1.35 0.97);
    color:rgb(0, 208, 245);
}
.textcolour{
    color: hwb(0 100% 0%);

}
h1 {
    color:palevioletred;
}
body{
font: 16px Arial, sans-serif;
margin: 0;
}
li{ 
    color: hsl(0, 0%, 97%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.picture{
display: block;
margin: 0 auto;
}
a {
text-decoration: none;
color:darkcyan;
}
footer p{
text-decoration: none;
color:rgb(0, 0, 0);
}
footer {
background-color: rgb(35, 129, 146);
}
footer p a{
color:beige;
}
footer{
padding-bottom: 30px;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
text-align: center;
}