.foot{
    text-align: center;
    font-size: 0.9em;
    color: hsl(0, 0%, 97%);
    background-color: black;
    margin-top: 25px;
}
.pro{
    color: hsl(0, 0%, 100%);

}
.position{
    text-align: center;
    margin-bottom: 0px;
}
.background{
    background-color: lab(19.61% -1.35 0.97);
    color:rgb(0, 208, 245);
}
.textcolour{
    color: hwb(0 100% 0%);

}
h1 {
    color:palevioletred;
}
body{
font: 16px Arial, sans-serif;
margin: 0;
padding: 0;
}
li{ 
    color: hsl(0, 0%, 97%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.picture {
margin-bottom: 20px;
}
a {
text-decoration: none;
color:darkcyan;
}
footer p{
text-decoration: none;
color:rgb(0, 0, 0);
}
footer {
background-color: rgb(35, 129, 146);
}
footer p a{
color:beige;
}
footer{
padding-bottom: 30px;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
text-align: center;
}
h1 {
width: 400px;
margin: 0 auto;
margin-bottom: 20px;
}
img {   
border: 3px solid black;
margin-left: 20px;

}
video {
margin-left: 30px;
margin-bottom: 100px;
padding: 0px;
}
.para{
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
    background-color: hsl(0, 0%, 0%);
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: center;
}
.menu-container{
    display: flex;
justify-content: center;
background-color: blue;
padding: 20px;    
}
.menu{
    display: flex;
border: 1px solid white;
padding: 10px;
justify-content: space-between;
width: 900px;
color: white;
}

* {
box-sizing: border-box;
}
.links{
    display: flex;
    justify-content: flex-end;
}
.login{
    margin-left: 20px;
}
.header-container{

}